.imgmain {
    height: 410px;
    width: 330px;
}

.headtxt {
    font-family: 'Epilogue', sans-serif;
    font-weight: 800;
}

.bodytxt {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
}